<a href="https://colab.research.google.com/github/Davjot/ML_python/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ASSIGNMENT 1**

Q1: L is a list defined as L= [11, 12, 13, 14].

i) WAP to add 50 and 60 to L.

In [43]:
L = [11, 12, 13, 14] 
print ("Original List       --> ", L)

L.append(50)
L.append(60)
print ("List After Adding   --> ", L)

Original List       -->  [11, 12, 13, 14]
List After Adding   -->  [11, 12, 13, 14, 50, 60]

ii) WAP to remove 11 and 13 from L.

In [44]:
print ("Original List       --> ", L)
del L[0]
del L[1]
print ("List After Deleting --> ", L)

Original List       -->  [11, 12, 13, 14, 50, 60]
List After Deleting -->  [12, 14, 50, 60]

iii) WAP to sort L in ascending order.

In [45]:
L.sort()
print('List after sorting in ascending order', L)

List after sorting in ascending order [12, 14, 50, 60]

iv) WAP to sort L in descending order.

In [46]:
L.sort(reverse = True)
print('List after sorting in descending order', L)

List after sorting in descending order [60, 50, 14, 12]

v) WAP to search for 13 in L.

In [47]:
print ("Original List       --> ", L)

print ("Original List --> ", 13 in L)

if (13 in L) == True:
	print ("Present")
else:
	print ("Not Present")

Original List       -->  [60, 50, 14, 12]
Original List -->  False
Not Present

vi) WAP to count the number of elements present in L.

In [25]:
print ("Original List       --> ", L)
print ("Number of elements in list: ", len(L))

Original List       -->  [60, 50, 14, 12]
Number of elements in list:  4

vii) WAP to sum all the elements in L.

In [26]:
print ("Original List --> ", L)

print ("Sum     --> ", sum(L))

Original List -->  [60, 50, 14, 12]
Sum     -->  136

viii) WAP to sum all ODD numbers in L.

In [48]:
print ("Original List --> ", L)
odd_sum = 0
for i in L:
  if(i%2==1):
    odd_sum = odd_sum + L[i]
print('Sum -->', odd_sum)

Original List -->  [60, 50, 14, 12]
Sum --> 0

ix)  WAP to sum all EVEN numbers in L.

In [33]:
print ("Original List --> ", L)
even_sum = 0
for ele in L:
  if(ele%2==0):
    even_sum = even_sum + L[ele]
print('Sum -->', even_sum)

Original List -->  [60, 50, 14, 12]

IndexError: ignored

x) WAP to sum all PRIME numbers in L.

In [35]:
import math as m
print ("Original List --> ", L)

prime_sum = 0

x = L[60, 50, 14, 12]
for i in x(m.sqrt(i)):
  if(i%2==0):
    prime_sum = prime_sum + x
    break

print('Sum -->', prime_sum)

Original List -->  [60, 50, 14, 12]

TypeError: ignored

xi) WAP to clear all the elements in L.

In [41]:
print ("Original List --> ", L)

L.clear()

print("List after clearing ", L)

NameError: ignored

xii) WAP to delete L.

In [ ]:
print ("Original List --> ", L)

del L

print("List Deleted Successfully!")

Q2  D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.

(i) WAP to add new entry in D; key=8 and value is 8.8

In [49]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print (" Original Dictionary      --> ", D)

D[8] = 8.8
print ("After Adding (8)    --> ", D)

 Original Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
After Adding (8)    -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(ii) WAP to remove key=2.

In [51]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print (" Original Dictionary      --> ", D)

del D[2]
print ("After Deleting (2)  --> ", D)

 Original Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
After Deleting (2)  -->  {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

(iii) WAP to check whether 6 key is present in D.

In [52]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print (" Original Dictionary      --> ", D)

print ("Is Key 2 Present    --> ", 6 in D)

 Original Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
Is Key 2 Present    -->  False

(iv) WAP to count the number of elements present in D.

In [53]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print (" Original Dictionary      --> ", D)
print ("Num of elements --> ", len(D))

 Original Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
Num of elements -->  5

(v) WAP to add all the values present D.

In [54]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print (" Original Dictionary      --> ", D)
print ("Values     --> ", sum(list(D.values())))

 Original Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
Values     -->  36.4

(vi) WAP to update the value of 3 to 7.1.

In [55]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print (" Original Dictionary      --> ", D)

D[3] = 7.1
print ("After Updating (3)  --> ", D)

 Original Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
After Updating (3)  -->  {1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

(vii) WAP to clear the dictionary.

In [57]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print (" Original Dictionary      --> ", D)

D.clear()

print('Dictionary cleared Successfully!')

 Original Dictionary      -->  {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
Dictionary cleared Successfully!

Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].

 S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

(i) WAP to add 55 and 66 in Set S1.

(ii) WAP to remove 10 and 30 from Set S1.

(iii) WAP to check whether 40 is present in S1.

(iv) WAP to find the union between S1 and S2.

(v) WAP to find the intersection between S1 and S2.

(vi) WAP to find the S1 - S2.